<div class="container">
    <div class="text-center">
        <!-- <img class="d-block mx-auto mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h2>Create New Project</h2>
        <p class="lead">Enter your project details below</p>
    </div>

    <hr>
    <br>

    <div class="form-group">
        <div class="form-group">
            <label for="projectName">Project Name</label>
            <input [(ngModel)]="projectName" type="text" class="form-control" id="projectName" placeholder="Enter your project name">
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label for="projectDescription">Project Description</label>
            <textarea [(ngModel)]="projectDescription" class="form-control" id="projectDescription" rows="10"
                placeholder="Enter project description"></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="startDate">Start Date</label>
            <div class="input-group">
                <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="startDate"
                    ngbDatepicker #d1="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="endDate">End Date</label>
            <div class="input-group">
                <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="endDate"
                    ngbDatepicker #d2="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="projectTargetAmount">Target Amount</label>
            <input [(ngModel)]="targetAmount" type="number" class="form-control" id="projectTargetAmount" placeholder="10.00">
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label for="tags">Project Tags</label>
            <tag-input id="tags" [(ngModel)]="projectTags" [placeholder]="'Enter your tags here'" modelAsStrings="true"
                [onTextChangeDebounce]="500" [secondaryPlaceholder]="'Enter new or existing tag'"
                [onlyFromAutocomplete]="false">
                <tag-input-dropdown [autocompleteObservable]="requestAutocompleteItems" [minimumTextLength]="1">
                    <ng-template let-item="item" let-index="index">
                        {{ item.display }}
                    </ng-template>
                </tag-input-dropdown>
            </tag-input>
        </div>
    </div>

    <angular-file-uploader
      [config]="afuConfig"
      (ApiResponse)="DocUpload($event)">
</angular-file-uploader>

    <br>
    <hr>

    <button class="btn btn-primary btn-lg btn-block" (click)="createProject()">Create Project</button>