<ngb-tabset>
    <ngb-tab title="Report Management">
        <ng-template ngbTabContent>
        <app-report-management></app-report-management>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="Project Management">
        <ng-template ngbTabContent>
            <app-project-management></app-project-management>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="User Management">
        <ng-template ngbTabContent>
            <app-user-management></app-user-management>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="Log Management">
        <ng-template ngbTabContent>
            <app-log-management></app-log-management>
        </ng-template>
    </ngb-tab>
</ngb-tabset>