<ngb-tabset>
    <ngb-tab title="Statistics">
        <ng-template ngbTabContent>
            <app-user-stats-management></app-user-stats-management>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="Report Management">
        <ng-template ngbTabContent>
            <app-user-report-management></app-user-report-management>
        </ng-template>
    </ngb-tab>

    <ngb-tab title="Project Management">
        <ng-template ngbTabContent>
            <app-user-project-management></app-user-project-management>
        </ng-template>
    </ngb-tab>
</ngb-tabset>