<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="searchTerm">Search User</label>
      <input class="form-control" [(ngModel)]="userNameSearch" placeholder="Enter Username Here" id="searchTerm" name="searchTerm">
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Display</label>
      <select id="inputState" class="form-control" [(ngModel)]="displayRole" name="searchType">
        <option value="ALL">
          ALL
        </option>

        <option value="USER">
          USER
        </option>

        <option value="ADMIN">
          ADMIN
        </option>
      </select>
    </div>
    <div class="form-group col-md-3 align-self-end">
      <button type="button" class="btn btn-primary" (click)="this.fetchUsers()">
        Search
      </button>
    </div>

    <div class="form-group col-md-3 align-self-end">
      <button type="button" class="btn btn-primary" (click)="openModal(addUserModal)">
        Create User
      </button>
    </div>
  </div>
</form>


<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="table-header">
              <span>User Name </span>
            </th>
            <th>User Role</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of allUsers; let i = index">
              <tr *ngIf="user.username != settingsService.loggedInMember.username">
                  <td>{{user.username}}</td>
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="user.userrole">
                      <option value="ADMIN">
                        Admin
                      </option>
                      <option value="USER">
                        User
                      </option>
                    </select>
                  </div>
                  <td>
                    <button class="btn" (click)="saveUser(user)">
                      <i class="fas fa-save"></i>
                    </button>
                  </td>
                </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #addUserModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="createUserDialog">Create New User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      <div class="form-group">
        <label for="userName">User Name</label>
        <input [(ngModel)]="userName" type="text" class="form-control" id="userName" placeholder="Enter User Name">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="password" type="password" class="form-control" id="password">
      </div>

    <div class="form-group">
      <label for="userRole">User Role</label>
      <select class="form-control" [(ngModel)]="userrole">
        <option value="ADMIN">
          Admin
        </option>
        <option value="USER">
          User
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="createUser()">
      Create User
    </button>
  </div>
</ng-template>